<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="{{path('logout')}}" method="post">
            <button>Salir</button>
        </form>
        <br>
    </body>
</html>